*,
*::,
*::after {
    box-sizing: border-box;
}

body {
    background: rgb(201, 199, 234);
    height: 100vh
}

.container {
    width: 80%;
    margin: 1em auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

#search {
    display: block;
    margin: 0 auto;
    padding: 0.75em 1.25em;
    width: 80%;
    text-align: center;
    border-radius: 3px;
    border: none;
    font-family: 'Trebuchet MS',
      'Lucida Sans Unicode',
      'Lucida Grande',
      'Lucida Sans',
      Arial,
      sans-serif;
    font-size: 1em;
}

button {
    display: block;
    margin: 0.5em auto;
    padding: 0.75em 1.25em;
    width: 80%;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.btn {
    background-color: rgb(72, 72, 230);
}

.delete-all-btn {
    background-color: red;
    color: rgb(68, 65, 65)
}

img {
    max-width: 400px;
    width: 100%;
    margin: 0.5em auto;
    padding: 0.5em
}

button:hover {
    opacity: 0.8;
}
